.App{
  text-align: center;
  background: linear-gradient(to top left, #e7717d 0%, #c2cad0 100%);
}

.NavLinks{
  margin-right: 2.5vmin;
  color: grey;
  font-size: calc(10px + 2vmin);
  text-decoration:none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: middle;
  height: inherit;
  max-height: inherit;
  display: inline-block;
}

.NavLinks:hover{
  color: darkorange;
  opacity: .6;
}

.Logo{
  border-radius: 250vmin;
  border: 5px outset grey;
  min-height: 6vh;
  max-height: inherit;
  margin-right: 1.5vmin;
  display: inline-block;
}

.Profile{
  margin-top: 2vmin;
  border-radius: 50%;;
  min-height: 25vh;
  height: calc(175px + 32vmin);
  max-height: 50vh;
  width: calc(175px + 32vmin);
  opacity: 1;
  border: 1vmin outset grey;
  background: white;
}

.Badges::before{
  padding: 1vmin;
  font-size: 1.7vmin;
  font-weight: none;
  border-radius: 16px;
  min-width: 10vmin;
  width: calc(75px + 10vmin);
  margin-top: 2.5vmin;
  margin-left: 0.5vmin;
  margin-right: 0.5vmin;
  margin-bottom: 0.005vmin;
  display: inline-block;
  color: white;
  background: transparent;
  border: 3px black outset;
}

#Team-Lead::before{
  background:maroon;
  content: "Team-1 Lead";
}

#Github-Master::before{
  background: grey;
  content: "Github-Master";
}

#Frontend::before{
  background:darkviolet;
  content: "Frontend";
}

#Backend::before{
  background:midnightblue;
  content: "Backend";
}

#Database::before{
  background:teal;
  content: "Database";
}

#Scrum-Master::before{
  background:sandybrown;
  content: "Scrum-Master";
}

#Team-1::before{
  background: red;
  content: "Team-1 member";
}

#Facebook::before{
  background: #5F9EA0;
  content: "Facebook";
}

#Facebook:hover{
  opacity: 0.6;
}

#Twitter::before{
  background: #191970;
  content: "Twitter"
}

#Twitter:hover{
  opacity: 0.6;
}

#Github::before{
  background: #663399;
  content: "Github"
}

#Github:hover{
  opacity: 0.6;
}

.ClickCSS{
  opacity: .5;
  margin-bottom: 0vmin;
  text-decoration: none;
  display: inline-block;
  min-height: 0vh;
  height: calc(5px + 16vw);
  max-height: 5vh;
  max-width: 35vw;
  width: calc(1px + 10vw);
  padding: 0;
  margin-top: 7vmin;
}

.ClickCSS:hover{
  color: whitesmoke;
  opacity: 1;
}

.AboutCard{
  background: linear-gradient(to bottom, #666699 0%, #ff99cc 100%);
}
.AboutCard:hover{
  background: linear-gradient(to top, #006600 0%, #66ff99 100%);
}

